// @font-face {
//     font-family: "Outfit";
//     src: url("../fonts/outfit/Outfit-VariableFont_wght.eot") format("embedded-opentype"),
//         url("../fonts/outfit/Outfit-VariableFont_wght.woff") format("woff"),
//         url("../fonts/outfit/Outfit-VariableFont_wght.woff2") format("woff2"),
//         url("../fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
//     font-display: swap;
// }

@font-face {
    font-family: "YoungSerif";
    src: url("../fonts/young-serif/YoungSerif-Regular.eot") format("embedded-opentype"),
        url("../fonts/young-serif/YoungSerif-Regular.woff") format("woff"),
        url("../fonts/young-serif/YoungSerif-Regular.woff2") format("woff2"),
        url("../fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-display: swap;
}