footer {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-inline: 2rem;

    a {
        color: var(--c-primary-dark-raspberry);
        font-weight: bolder;
    }
    img{
        cursor: pointer;
    }


}