@use '../utils' as u;

table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    text-align: left;
}

tr {
    border: 1px var(--c-neutral-eggshell) solid;
    line-height: u.rem(45);
}

td {
    font-weight: 700;
    color: var(--c-primary-nutmeg);
    width: 50%;
    padding-left: u.rem(32);
}

th {
    padding-left: u.rem(40);
    width: 50%;
}

caption {
    border-spacing: 1rem;
    padding-bottom: u.rem(24);
}

caption p {
    text-indent: -0.5rem;
}